.reg {
  display: flex;
  height: 87vh;
  align-items: center;
  justify-content: center;
}
.reg input :focus {
  outline: none;
}
.post {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 80px;
  border: 1px solid #e0e0bb;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgb(231, 210, 210);
}
.post input {
  border-radius: 5px;
  padding: 5px;
  border: 2px #e0e0bb solid;
  margin: 5px;
  width: 75%;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.name input {
  width: 310px !important;
}
.email input {
  width: 150px;
}
