.reg {
  display: flex;
  height: 87vh;
  align-items: center;
  justify-content: center;
}
.reg input :focus {
  outline: none;
}
.post {
  min-width: 350px;
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 80px;
  border: 1px solid #c8c8c2;
  border-radius: 10px;
  box-shadow: 3px 3px 20px #c8c8c2;
}
.post input {
  border-radius: 5px;
  padding: 5px;
  border: 2px #c8c8c2 solid;
  margin: 5px;
  width: 75%;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.name input {
  width: 310px !important;
}
.email input {
  width: 150px;
}
