.form {
  width: 100%;
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  box-shadow: 3px 3px 20px #c8c8c2;
  border-radius: 5px;
  border: 1px solid #c8c8c2;
  background-color: white;
  padding: 20px;
  width: 80%;
}
form input {
  margin: 10px 0;
}
